* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  word-wrap: normal;
  scroll-behavior: smooth;
}
header {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  box-shadow: 0px 1px 10px lightgrey;
  z-index: 2;
}
#logo #logo-img {
  width: 60px;
  padding: 5px;
}
#logo h1 {
  margin: 0px;
  color: #2C3540;
  font-size: calc(1vw + 1rem);
}
#list li a {
  text-decoration: none;
  margin-left: 10px;
  color: #2C3540;
}
.activeL {
  color: #E4062B !important;
}
#cover {
  background-image: url('../img/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 43.77279833vw;
  position: relative;
}
#cover #plus i {
  position: absolute;
  font-size: calc(1vw + 1rem);
  color: #2C3540;
}
#cover #plus i p {
  display: none;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
}
#cover #plus #chain {
  top: 69%;
  left: 55%;
}
#cover #plus #heart {
  top: 75%;
  left: 27%;
}
#btn-contact {
  color: #E4062B;
  background-color: white;
  border: 1px solid #2C3540;
}
#btn-contact:hover {
  font-weight: bold;
}
figcaption {
  font-size: 14px;
  color: #E4062B;
}
.colorD {
  color: #E4062B;
}
#carousel-id,
#carousel-id1 {
  border-radius: 10px 0px 10px 0px;
}
h2 {
  font-size: calc(1vw + 1rem) !important;
}
.row {
  margin: 0px auto !important;
}
.bg-detail {
  background-color: #E4062B !important;
  color: #FFF !important;
}
.bg-gray {
  background-color: #f8f8f8;
}
#free {
  font-size: 40px !important;
}
.colorM {
  color: #2C3540;
}
.bg-main {
  background-color: #2C3540;
  font-weight: bold;
  padding: 10px 0px;
}
.bg-main p {
  color: white;
  margin-bottom: 0px;
  padding: 2px;
}
.pad-t {
  padding-top: 70px;
}
#sort {
  margin-right: 60px !important;
}
#btn-select input {
  background-color: transparent;
  color: #E4062B;
  border: 0px;
  text-decoration: underline;
  padding: 0px 5px;
  margin: 15px 10px;
}
.roundedSlika {
  border-radius: 10px 0px 10px 0px;
}
.mainC {
  color: #2C3540;
}
.stara {
  color: #2C3540;
  text-decoration: line-through;
}
.bold {
  font-weight: bold !important;
}
thead td {
  font-weight: bold;
  color: #2C3540;
}
td {
  text-align: center;
  padding: 4px;
}
td img {
  width: 100%;
}
.w-td {
  width: 10%;
}
#futer {
  padding: 5px;
}
#futer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#futer p {
  margin: 1px;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  flex: 1;
}
#desc {
  font-size: 12px;
}
#pagination-controls {
  display: flex;
  justify-content: center;
}
#pagination-controls a {
  display: block;
  margin: 0px 2px;
  text-decoration: none;
}
.active {
  font-weight: bold;
  text-decoration: underline !important;
}
.l-gray {
  color: #808080 !important;
}
.form-control:focus {
  border-color: #2C3540 !important;
  box-shadow: 0px 0px transparent !important;
}
.form-control {
  appearance: menulist-button !important;
}
#min {
  display: inline !important;
  width: 50px;
  margin-top: 10px;
}
.form-label {
  margin-bottom: 0px !important;
  margin-top: 10px;
  font-size: 14px;
}
#formP1,
#formP2,
#message,
#submit {
  margin-bottom: 0px !important;
  margin-top: 10px !important;
  font-size: 14px;
}
.padding-header {
  padding-top: 70px;
}
#price label {
  font-size: 14px;
}
#forma {
  background-color: #f6f1ee;
  border-radius: 20px;
  height: auto;
}
#forma input[type="text"] {
  font-size: 14px;
}
#forma #checkGem label {
  font-size: 13px;
  margin-left: 2px;
}
#forma #style {
  font-size: 14px;
  padding-top: 7px !important;
  padding-bottom: 8px !important;
}
#forma #style option {
  font-size: 14px;
}
#forma #style option[id="0"] {
  color: #808080;
}
#submit {
  margin-bottom: 10px !important;
  color: #E4062B;
}
#tekstForma p {
  text-align: center;
  margin-bottom: 0px !important;
}
#tekstForma #formaP {
  color: #E4062B;
  margin-top: 5px;
  font-size: 18px;
}
#questions #que {
  margin: 20px !important;
}
#menu li a {
  display: block;
  width: 100%;
  font-size: 18px;
  border-top: 1px solid #2C3540;
  text-decoration: none;
  padding: 10px;
  color: #2C3540;
}
#menu li ul {
  list-style-type: none;
}
#menu li ul li {
  padding: 5px;
}
#menu > li:last-child {
  border-bottom: 1px solid #2C3540;
}
#scrollUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #E4062B;
  border: 1px solid #E4062B;
  color: white;
  padding: 2px 9px;
  border-radius: 50%;
  font-size: 18px;
}
.p-message {
  font-size: 11px;
  color: #E4062B;
  margin-bottom: 0px;
}
#author {
  width: 400px;
}
#info p:nth-child(odd) {
  font-weight: bold;
  color: #E4062B;
}
@media screen and (max-width: 769px) {
  #jcc,
  #jcc1,
  #niz_slika {
    justify-content: center !important;
    margin-top: 0px !important;
  }
  #slike {
    order: 1;
    margin-top: 50px;
  }
  #tekst {
    order: 2;
    margin: 0px 10px !important;
    font-size: 13px;
  }
  #btn-contact {
    font-size: 13px;
    padding: 5px;
  }
  figcaption {
    font-size: 12px;
  }
  #slider-text {
    font-size: 13px;
    margin-top: 15px;
  }
  #h2 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  #plus i p {
    font-size: 12px !important;
  }
  #free {
    font-size: 30px !important;
  }
  #allPro {
    font-size: 18px !important;
  }
  #textPro {
    font-size: 13px;
  }
  .card-title {
    font-size: 15px !important;
  }
  #filter {
    position: absolute;
    width: 50%;
    z-index: 3;
    background-color: #fff;
  }
  #btn-filter {
    display: block !important;
  }
}
@media screen and (max-width: 481px) {
  #nav {
    position: relative;
  }
  #nav-list {
    display: none;
    position: absolute;
    width: 100vw;
    top: 30px;
    right: -0.75rem;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.9);
  }
  #nav-list #list {
    flex-direction: column;
  }
  #nav-list #list li {
    width: 100%;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 2px;
  }
  #menu > li > ul > li {
    font-size: 12px;
  }
  #menu > li a {
    font-size: 15px;
  }
  #futer p,
  #futer i {
    font-size: 12px;
  }
  #futer div {
    padding: 0px;
  }
}
@media screen and (min-width: 481px) {
  #nav-btn {
    display: none;
  }
}
@media screen and (max-width: 415px) {
  #cover {
    top: 20px;
  }
  #cover #plus i {
    font-size: calc(1vw + 0.5rem);
  }
  #cover #plus i p {
    font-size: 10px !important;
  }
  #saleT p {
    font-size: 13px;
  }
}
